<div class="row single-tool-header">
    <div>
        <h1><b>Tool Releases</b></h1>
        <ul>
            <li>Displays <b><i>DesignID-Step-Exception</i></b> has a single tool runnable based on the classified release status </li>
        </ul>
    </div>
</div>

<div class="row snapshot-card-container">
    <snapshot-card></snapshot-card>
</div>
<hr>
<div id="single-tool-contents">
    <div id="first-row">
        <div class="card" id="summary-container">
            <div class="card-header">
                <i class="fas fa-table"></i>
                &nbsp;
                <b>Summary</b>    
            </div>
            <div class="card-body">
                asd
                asdjkbaiusdbuiasbduiabsuidbasida
                sduoassbduiabsdasaskdjaisdas
                diasdjbuiabsdiuas
                aoisdnuiasbduiasbd
                aoisdbuiabsduiab
            </div>
        </div>    
        <div class="card" id="filter-container">
            <div class="card-header">
                <i class="fas fa-filter"></i>
                &nbsp;
                <b>Filter</b>
            </div>
            <div class="card-body">
                iausdb
                <hr>
                <div style="display:flex; flex-direction:column; flex-wrap: wrap; gap: 12px">
                    <sliding-radio-checkbox id="single-tool">Single Tool Released</sliding-radio-checkbox>
                    <sliding-radio-checkbox id="no-tool">No Tool Released</sliding-radio-checkbox>
                    <sliding-radio-checkbox>PP IDK</sliding-radio-checkbox>
                </div>
            </div>
        </div>
    </div>
</div>